In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import matplotlib as mpl

mpl.use('agg')
sns.set()
df = pd.read_csv('./data')

In [2]:
df.min().to_frame().T

,Unnamed: 0,t,x,y,z,x_dot,y_dot,z_dot
0,0.0,0.0,-18.997091,-24.930755,0.001338,-240.316779,-540.543623,-268.793798

In [3]:
df.max().to_frame().T

,Unnamed: 0,t,x,y,z,x_dot,y_dot,z_dot
0,10000.0,10.0,21.520785,29.483224,54.270197,177.803448,373.548353,470.443004

In [31]:
for t in df['Unnamed: 0']:

    fig = plt.figure(figsize=(5, 5))
    ax = fig.add_subplot(111, projection = '3d')
    
    ax.set_xlim3d([-20, 20])
    ax.set_ylim3d([-25, 30])
    ax.set_zlim3d([0, 55])
    
    x = df['x'].head(t)
    y = df['y'].head(t)
    z = df['z'].head(t)
    
    ax.set_title('t= {:0.3f}'.format(float(t)/1000))
    ax.set_xlabel("x")
    ax.set_ylabel("y")
    ax.set_zlabel("z")

    ax.plot(x, y, z, 'b-', alpha=0.3, markersize = 2, marker='.', markerfacecolor=(1, 0, 0, 1), mec='red', markevery=[-1, 0], lw=0.5)
    ax.view_init(30, 0.1*t)
    fig.savefig('./imgs/{:05d}.jpg'.format(t), dpi=256)
    plt.close()
    print("{}of{} \r".format(t,10000), end="")

In [ ]:
t='max'

fig.savefig('./imgs/0.png', bbox_inches = 'tight', pad_inches=2)